@model MyHorrorMovieApp.Models.User

@{
    ViewData["Title"] = "Details";
        int currentUserId = (int)ViewData["CurrentUserId"];

}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<div class="container">
    <nav class="mb-4 nav">
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li style="display: inline-block; margin-right: 10px;">
                <form method="post" action="/logout">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </li>
             @if(Model.Id != currentUserId){
                 <li style="display: inline-block; margin-right: 10px;">
            <a href="/me" style="text-decoration: none;">
                <button class="btn btn-primary">Profile</button>
            </a>
        </li>
}
            @if ((bool)ViewData["IsAdmin"])
            {
                <li style="display: inline-block; margin-right: 10px;">
                    <a href="/Movies/Create" style="text-decoration: none;">
                        <button class="btn btn-primary">Add Movie</button>
                    </a>
                </li>
            }
            <li style="display: inline-block; margin-right: 10px;">
                <a href="/Movies" style="text-decoration: none;">
                    <button class="btn btn-primary">Back
                        to Movies</button>
                </a>
            </li>
        </ul>
    </nav>

    <h1>@Model.Username's Profile</h1>
         @if(Model.Id != currentUserId){
            <button class="btn btn-primary" onclick="addFriend()">Add Friend</button>
            }

    <div>
        <hr />
        <div class="row">
            <h2>Favorites</h2>
            @if (Model != null && Model.Favorites.Any())
            {
                @foreach (var favorite in Model.Favorites)
                {
                    <div class="col-md-6">
                        <div class="card border border-light">
                            <div class="card-header border-bottom">
                                <div class="row align-items-center">
                                    @if (favorite.UserId == currentUserId){
                                        <div class="col-auto">
                                            <button class="btn btn-danger" onclick="deleteFavorite(@favorite.Id)">X</button>
                                        </div>
}
                                    <div class="col card-title text-center">
                                        <h4 class="m-0">@favorite.Movie.Title</h4>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body">
                                <div class="image-container" style="height: 400px; overflow: hidden;">
                                    <img src="@favorite.Movie.Image" class="card-img-top img-fluid" alt="@favorite.Movie.Title"
                                        style="object-fit: contain; width: 100%; height: 100%;" />
                                </div>
                                <hr />
                                <h4 class="card-text">Year: @favorite.Movie.Year</h4>
                                @* <hr />
                        <h4 class="card-text">Plot: @favorite.Movie.Plot</h4> *@
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No favorites yet.</p>
            }





        </div>
    </div>
    @* <div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    </div> *@

</div>

<script>
    var token = '@ViewData["Token"]';

    function addFriend() {
        console.log("Friend Added!")
    }

    function deleteFavorite(favoriteId) {
        event.preventDefault();

        fetch(`/Favorites/Delete/${favoriteId}`, {
            method: 'DELETE',
            headers:
            {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            }


        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();

            }).then(data => {
                console.log('Favorite deleted successfully:', data);
                if (data.success) {

                    window.location.href = `/me`;
                } else {
                    console.error('Error deleting favorite:', data.message);
                }
            })
            .catch(error => {
                console.error('Error deleting favorite:', error);
            });

    }
</script>

<style>
    body {
        background-color: #121212;
        color: #fff;
        width: 100%;
    }

    nav.mb-4 {
        padding-top: 10px;
    }

    .card {
        background-color: #4d0000;
        color: #fff;
    }
</style>